<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="System Test">
    <classes>
      <class name="testCases.VerifyHomepage"/>
      <class name="testCases.VerifyLoginPage"/>
    </classes>
  </test> <!-- System Test -->
</suite> <!-- Suite -->
